@model ProductManagement.DTOs.ProductDto

@{
    ViewData["Title"] = "Xoá sản phẩm";
}

<div class="container mt-4">
    <h1>Xóa sản phẩm</h1>
    <h3 class="text-danger">Bạn có chắc chắn muốn xóa sản phẩm này không?</h3>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
            
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Price)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>
            
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Stock)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Stock)</dd>
            
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
        </dl>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
        </form>
    </div>
</div>
